.btn5 {
    font-size: 20px;
    -webkit-text-stroke: 0.3px black;
    margin-left: 600px;
    color:white;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    padding:8px 22px;
    background:red;
    cursor: pointer;
    transition: 0.9s;
    border:white;
}

a{
    text-decoration: none;
    color:white;
}